<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.usebootstrap.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>
        .jumbotron {
            width: 600px;
            text-align: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }

        .form-control{
            margin-top: 5px;
        }

        .mab-5{
            margin-bottom: 5px;
        }

        .selecionado{
            background-color: yellow;
        }

        .negrito{
            font-weight: bold;
        }
    </style>
    <title>Lista Telefônica</title>
    <script src="angular.min.js"></script>
    <script src="angular-messages.min.js"></script>
    <script>
        //Criação do módulo
        //[] -> lista de módulos que podem fazer parte deste módulo
        angular.module("listaTelefonica", ["ngMessages"]);

        // localizando o módulu listaTelefonica e criando uma controller associada a este módulo
        // chamada listaTelefonicaCtrl
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope){
            $scope.app = "Lista Telefonica";
            $scope.contatos = [
                {nome: "Pedro", data: new Date(), telefone: "9999988888", cor: "yellow"},
                {nome: "Ana", data: new Date(),telefone: "9999987777", cor: "blue"},
                {nome: "Maria", data: new Date(), telefone: "9999986688", cor: "red"}
            ];

            $scope.adicionarContato = function(contato){
                // angular.copy -> para não utilizar a mesma referência e as ações do input
                // acabarem refletindo no item já adicionado à lista
                $scope.contatos.push(angular.copy(contato));

                //limpa as referências presentes nesta propriedade, por conta do 2way databind, os inputs
                //tbm serão limpados
                delete $scope.contato;

                $scope.contatoForm.$setPristine(); 
            };

            $scope.apagarContato = function(contatos){
                
                var contatosNaoSelecionados = contatos.filter(function(contato){
                    if(!contato.selecionado) return contato;
                });

                $scope.contatos = contatosNaoSelecionados;
            }

            $scope.isContatoSelecionado = function(contatos){
                
                return contatos.some(function(contato){
                    return contato.selecionado;
                });
            }

            $scope.operadoras = [
                {nome:"Oi", codigo: 14   , categoria: "Celular"},
                {nome:"Vivo", codigo: 15 , categoria: "Celular"},
                {nome:"Tim", codigo: 16  , categoria: "Celular"},
                {nome:"GVT", codigo: 25  , categoria: "Fixo"},
                {nome:"Embratel", codigo: 21  , categoria: "Fixo"}
            ]

            $scope.teste1 = 'sas';
            $scope.teste2 = 'sa';

            $scope.classe1 = "selecionado";
            $scope.classe2 = "negrito";
        })
    </script>
</head>
<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
        <!-- <h4 ng-bind="app"></h4> -->
        <h4>{{app}}</h4>
        <input type="text" class="form-control" ng-model="criterioDeBusca" placeholder="O quê você está buscando?">
        <table class="table" ng-show="contatos.length > 0">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Operadora</th>
                <th>Data</th>
                <th></th>
            </tr>

            <!-- ng-class -> irá buscar o valor dessa propriedade que foi definida em $scope, com base nesse valor
            irá buscar a classe css com o mesmo valor do conteúdo da propriedade $scope.classe -->
            <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter: criterioDeBusca">
                <td><input type="checkbox" ng-model="contato.selecionado"></td>
                <td>{{contato.nome | uppercase}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome}}</td>
                <td>{{contato.data | date:'dd/MM/yyyy HH:mm'}}</td>
                <td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
            </tr>
        </table>
        <hr/>
        <!-- ng-model procura alguma propriedade dentro de scope com o mesmo nome definido em seu valor
        no caso de arrays ou objetos irá procurar alguma propriedade com o mesmo valor definido.
        ng-model é utilizada para fazer o two way databind, conforme exemplo abaixo
            <input class="form-control" type="text" ng-model="teste1" value={{teste1}}/>
       -->
       <!-- irá criar um objeto de validaçao dentro de $scope chamado contatoForm -->

       <form name="contatoForm">
            <input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="10"/>
            <input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true"/>
            <!-- <select class="form-control  mab-5" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras ">
                <option value="">Selecione uma operadora</option>
            </select> -->
            <select class="form-control  mab-5" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras ">
                <option value="">Selecione uma operadora</option>
            </select>
            {{contatoForm.nome.$error}}
            <div ng-messages="contatoForm.nome.$error">
                <!-- <div ng-message="required" class="alert alert-danger">
                    Por favor, preencha o nome.
                </div> -->
                <div ng-message="minlength" class="alert alert-danger">
                    O campo deve ter no mínimo 10 caracteres.
                </div>
            </div>

            <div ng-show="contatoForm.telefone.$invalid && contatoForm.telefone.$dirty" class="alert alert-danger">
                Por favor, preencha o telefone.
            </div>
            <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>

            <!-- Ao utilizar o ng-show, o elemento continuará existindo, mas com display:none.
            Ao utilizar o ng-if, o elemento será removido do html, não havendo nenhuma referência para ele no HTML -->
            <button class="btn btn-danger btn-block" ng-click="apagarContato(contatos)" ng-show="isContatoSelecionado(contatos)">Apagar Contato</button>
       </form>
         
    </div>
    <!-- <div ng-include="'footer.html'"></div> -->
</body>
</html>