<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.usebootstrap.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>
        .jumbotron {
            width: 400px;
            text-align: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }

        .form-control{
            margin-top: 5px;
        }

        .mab-5{
            margin-bottom: 5px;
        }
    </style>
    <title>Lista Telefônica</title>
    <script src="angular.min.js"></script>
    <script>
        //Criação do módulo
        //[] -> lista de módulos que podem fazer parte deste módulo
        angular.module("listaTelefonica", []);

        // localizando o módulu listaTelefonica e criando uma controller associada a este módulo
        // chamada listaTelefonicaCtrl
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope){
            $scope.app = "Lista Telefonica";
            $scope.contatos = [
                {nome: "Pedro", telefone: "9999988888"},
                {nome: "Ana", telefone: "9999987777"},
                {nome: "Maria", telefone: "9999986688"}
            ];

            $scope.adicionarContato = function(contato){
                // angular.copy -> para não utilizar a mesma referência e as ações do input
                // acabarem refletindo no item já adicionado à lista
                $scope.contatos.push(angular.copy(contato));

                //limpa as referências presentes nesta propriedade, por conta do 2way databind, os inputs
                //tbm serão limpados
                delete $scope.contato;
            };

            $scope.operadoras = [
                {nome:"Oi", codigo: 14   , categoria: "Celular"},
                {nome:"Vivo", codigo: 15 , categoria: "Celular"},
                {nome:"Tim", codigo: 16  , categoria: "Celular"},
                {nome:"GVT", codigo: 25  , categoria: "Fixo"},
                {nome:"Embratel", codigo: 21  , categoria: "Fixo"}
            ]

            $scope.teste1 = 'sas';
            $scope.teste2 = 'sa';
        })
    </script>
</head>
<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
        <!-- <h4 ng-bind="app"></h4> -->
        <h4>{{app}}</h4>
        <table class="table table-striped">
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Operadora</th>
            </tr>
            <tr ng-repeat="contato in contatos">
                <td>{{contato.nome}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome}}</td>
            </tr>
        </table>
        <hr/>

        <!-- ng-model procura alguma propriedade dentro de scope com o mesmo nome definido em seu valor
        no caso de arrays ou objetos irá procurar alguma propriedade com o mesmo valor definido.
        ng-model é utilizada para fazer o two way databind, conforme exemplo abaixo
            <input class="form-control" type="text" ng-model="teste1" value={{teste1}}/>
       -->
        <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome"/>
        <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone"/>
        <!-- <select class="form-control  mab-5" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras ">
            <option value="">Selecione uma operadora</option>
        </select> -->
        <select class="form-control  mab-5" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras ">
            <option value="">Selecione uma operadora</option>
        </select>
        <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>
        
    </div>
</body>
</html>