<div class="jumbotron">
    <h4>{{app}}</h4>
    <input type="text" class="form-control" ng-model="criterioDeBusca" placeholder="O quê você está buscando?">
    <table class="table" ng-show="contatos.length > 0">
        <tr>
            <th></th>
            <th>Serial</th>
            <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
            <th><a href="" ng-click="ordenarPor('telefone')"">Telefone</a></th>
            <th>Operadora</th>
            <th>Data</th>
            <th></th>
        </tr>

        <!-- ng-class -> irá buscar o valor dessa propriedade que foi definida em $scope, com base nesse valor
        irá buscar a classe css com o mesmo valor do conteúdo da propriedade $scope.classe -->
        <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter: criterioDeBusca | orderBy:criterioDeOrdenacao:isDesc">
            <td><input type="checkbox" ng-model="contato.selecionado"></td>
            <td>{{contato.serial}}</td>
            <td>{{contato.nome | name | ellipsis:5}}</td>
            <td>{{contato.telefone}}</td>
            <td>{{contato.operadora.nome}}</td>
            <td>{{contato.data | date:'dd/MM/yyyy HH:mm'}}</td>
            <td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
        </tr>
    </table>
    <hr/>
    <!-- ng-model procura alguma propriedade dentro de scope com o mesmo nome definido em seu valor
    no caso de arrays ou objetos irá procurar alguma propriedade com o mesmo valor definido.
    ng-model é utilizada para fazer o two way databind, conforme exemplo abaixo
        <input class="form-control" type="text" ng-model="teste1" value={{teste1}}/>
   -->
   <!-- irá criar um objeto de validaçao dentro de $scope chamado contatoForm -->

    <a class="btn btn-primary btn-block" href="#!/novocontato">Novo contato</a>
     
</div>